#header {

}
#portal-personaltools-wrapper {
  display: none
}
div#ws_urbis, div#ws_waws {
  height: 0px;
  width: 0px;
  overflow: hidden;
}
#geocoding_panel, #drilling_panel {
  padding: 5px
}
input[type=button] {
  width: 100px;
  margin: 5px 0px 5px 90px;
}
.template-novac_view div#content {
  margin-top: 1em
}
.template-novac_view div#content h1.documentFirstHeading {
  margin-bottom: 1em;
  margin-left: 25px;
}
#map_panel {
  float: left;
  height: 515px;
  width: 825px;
  border: solid #ddd 1px;
  padding: 0px;
  margin: 5px 5px 2em 25px;
}
#map_panel2 {
  float: left;
  height: 300px;
  width: 100%;
  border: solid #ddd 1px;
  padding: 0px;
  margin: 5px 0px 2em 0;
}
#map {
  height: 100%
}
#copyright_urbis {
  font-size: 10px;
  padding-left: 1em;
  color: gray;
}
#navigation {
  float: right;
  width: 255px;
  height: 900px;
  border: 1px solid #ddd;
  padding: 0;
  margin: 5px 0 5px 0;
}
#texte_introduction {
  float: left;
  width: 825px;
  border: solid #fff 1px;
  padding: 1em 0;
  margin: 5px 5px 2em 25px;
}
/*
#results_panel {clear:both; border: solid #ddd 1px; padding: 5px; margin:5px; min-height:100px;}
#results_panel table {padding: 2px;}
*/
table.urbis_result th {
  padding: 5px
}
table.urbis_result td {
  padding: 10px;
  font-weight: normal;
}
.footer {
  color: #666666;
  width: 100%;
  text-align: center;
}
/*** Navigation ***/
table.filter td {
  border-width: 5px;
  padding: .4em;
  border-color: transparent;
}
#beschr {
  font-size: 16px;
  font-weight: bold;
  padding: 0 0 1em 0.4em;
}
/*** Tempaltes ***/
.detail_table {
  width: 100%;
  font-size: .8em;
  margin-bottom: 2em !important;
}
.detail_table caption {
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 1em;
}
.detail_table, .detail_table td, .detail_table th {
  border: 1px solid #ccc;
  border-collapse: collapse;
  padding: .5em;
  vertical-align: top;
  text-align: left;
}
.tableheader {
  background-color: #ddd;
  border-bottom: 1px solid #FF7814 !important;
  font-weight: bold;
  font-size: 1.1em;
}
.detail_table th {
  background-color: #eee
}
.detail_table td a, #id-card a, .back {
  color: #222;
  text-decoration: none;
  border-bottom: 1px solid #222;
}
.detail_table td a:hover, #id-card a:hover, .back:hover {
  color: #222;
  border-bottom: 1px solid #cc071e;
}
.set_width {
  width: 220px
}
.detail_document {
  background: #eee url(++resource++cirb.novac.images/page_full.png) no-repeat 5px 3px;
  padding-left: 32px !important;
  height: 30px;
}
.detail_attachment {
  background: #eee url(++resource++cirb.novac.images/attach_document.png) no-repeat 5px 3px;
  padding-left: 32px !important;
  height: 30px;
}
.arrow-back {
  position: relative;
  top: 30px;
  left: 20px;
}
.detail_table td#imgccfd img {
  margin-bottom: 1em
}
.detail_table td#imgccfd p {
  margin-left: 1em;
  font-size: 0.9em;
}
/* ACCORDION STYLE */
#content #navigation #accordion {
  padding: 0;
  margin: 0;
}
.ui-accordion-content {
  padding: .75em;
  font-size: .75em;
}
.ui-corner-all {
  border-radius: 0
}
.ui-state-default .ui-icon, .ui-state-active .ui-icon {
  background-image: none;
  display:none;
}
.ui-state-default, .ui-widget-content .ui-state-default{
    background:#DDD;
}
.ui-accordion .ui-accordion-header a {
  font-size: 1.2em;
  font-weight: bold;
}
#content #navigation #accordion h3 {
  background-color: #eee;
  text-align: right;
  font-size: 0.9em;
  height: 30px;
  margin: 0;
  padding: 1em;
  border-bottom: 1px solid #FF7814;
}
#content #navigation #accordion h3 a {
  text-decoration: none;
  padding: 1em 0;
  color: #222 !important;
  border-bottom: 0px solid #ccc;
}
#content #navigation #accordion a:hover {
  text-decoration: underline;
  color: #000;
}
.slice-1 {
  background: transparent url(++resource++cirb.novac.images/folder.png) no-repeat 10px 12px
}
.slice-2 {
  background: transparent url(++resource++cirb.novac.images/search.png) no-repeat 10px 12px
}
.slice-3 {
  background: transparent url(++resource++cirb.novac.images/filter.png) no-repeat 10px 12px
}
/*** SEARCH ADDRESS ***/
#street, #number, #post_code {
  border: 1px solid #ccc;
  width: 200px;
}
#search_address_button, #reset_filter, #export_csv_button {
  border: 1px solid #4C4C4C;
  cursor: pointer;
}
#search_address_button {
  width: 60px;
  float: right;
  margin-top: 10px;
}
.spinner {
  background: #fff url(++resource++cirb.novac.images/ajax-loader.gif) no-repeat top left;
  width: 16px;
  height: 16px;
  float: left;
  margin: 4px;
  visibility: hidden;
}
/*** FILTERS ***/
table.filter {
  border-bottom: 1px solid #ccc;
  width: 100%;
}
table.filter td {
  text-align: left;
  vertical-align: top;
}
td.type_U {
  background: transparent url(++resource++cirb.novac.images/circle-letter-u.png) no-repeat 5px 7px;
  width: 20px;
}
td.type_S {
  background: transparent url(++resource++cirb.novac.images/circle-letter-s.png) no-repeat 5px 7px;
  width: 20px;
}
td.type_L {
  background: transparent url(++resource++cirb.novac.images/circle-letter-l.png) no-repeat 5px 7px;
  width: 20px;
}
td.type_V {
  background: transparent url(++resource++cirb.novac.images/circle-letter-v.png) no-repeat 5px 7px;
  width: 20px;
}
td.required {
  background: transparent url(++resource++cirb.novac.images/circle-yellow.png) no-repeat 5px 6px;
  width: 20px;
}
td.granted {
  background: transparent url(++resource++cirb.novac.images/circle-green.png) no-repeat 5px 6px;
  width: 20px;
}
td.refused {
  background: transparent url(++resource++cirb.novac.images/circle-orange.png) no-repeat 5px 6px;
  width: 20px;
}
td.canceled {
  background: transparent url(++resource++cirb.novac.images/circle-blue.png) no-repeat 5px 6px;
  width: 20px;
}
table.filter label {
  font-weight: normal;
  font-size: 1.25em;
}
table.filter input#type_u, table.filter input#type_l, table.filter input#required, table.filter input#granted, table.filter input#refused, table.filter input#canceled {
  margin-top: 3px
}
/*** MORE FILTERS ***/
#accordion2 h4 {
  margin: 1em 0 1em 4px
}
#accordion2 h4 a, #accordion2 a.knop {
  background: #DDD url(++resource++cirb.novac.images/add.png) no-repeat top right;
  /*border: 1px solid #BBB;*/
  cursor: pointer;
  padding: 1px 22px 2px 5px;
  text-decoration: none;
  display:block;
}
#accordion2 h4.ui-state-active a {
  background: #DDD url(++resource++cirb.novac.images/minus.png) no-repeat top right;
}
#accordion2 h4 a:hover {
  text-decoration: none;
  color: #cc071e;
}
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active, .ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
  color: #444
}
.ui-accordion .ui-accordion-content {
  padding: 1em;
  border: 0;
}
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active {
  border: 0
}
#accordion2 .ui-accordion-content {
  font-size: 0.85em
}
#accordion2 h5 {
  margin: 1em 0 0.5em
}
select#commune, select#typedossier, select#instance {
  font-size: 1.2em
}
select#commune option, select#typedossier option, select#instance option {
  font-size: 1em
}
select#typedossier {
  display: none
}
#export_csv {
  display: none
}
#ep_status_div input {
  margin: 0 0.75em
}
hr.gray {
  color: #ccc;
  height: 1px;
  margin: 1em 0;
}
/* simple css-based tooltip */
.tooltip {
  background-color: #000;
  border: 1px solid #fff;
  padding: 1em;
  width: 500px;
  color: #fff;
  display: none;
  -moz-box-shadow: 2px 2px 10px #666;
  -webkit-box-shadow: 2px 2px 10px #666;
}
.tooltip-inner{
  max-width:none !important;
}
.error {
  color: #f00
}

#nbDossiersContainer{
  font-weight: bold;
  font-size: 1.5em;
  display: block;
  border-bottom: 1px solid #ccc;
  padding-bottom: .5em;
  margin-bottom: .5em;
}
